<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css" />
    </head>

    <body></body>
    <h1>Choose your own adventure!</h1>
    {{ range .Story }}
    <p>{{ . }}</p>
    {{ end }}
    {{ if .Options }}
    <h2>What are you going to do?</h2>
    {{ else }}
    <form action="/?next=intro">
        <input type="submit" value="Start over" />
    </form>
    {{ end }}
    <form action="/">
        <div class="parent">
        {{ range .Options }}
            <div class="child">
                <p>{{ .Text }}</p>
                <input type="submit" name="next" value="{{ .ArcName }}"></input>
            </div>
        {{ end }}
        </div>
    </form>
    </body>
</html>
