<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body class="body">
    <h1>{{ .Title }}</h1>
    {{ range .Story }}
    <p>{{ . }}</p>
    {{ end }}
    {{ if .Options }}
    <h2>What are you going to do?</h2>
    {{ else }}
    <a href="/?next=intro">Start over</a>
    {{ end }}
    <ul>
        {{ range .Options }}
        <li>
            <a href="/?next={{ .ArcName }}">{{ .Text }}</a>
        </li>
        {{ end }}
    </ul>
</body>

</html>